@model ProjetAiopMVC.Models.ENSEIGNEMENT

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ENSEIGNEMENT</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_ENSEIGNEMENT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_ENSEIGNEMENT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COUR.LIBELLE_COURS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COUR.LIBELLE_COURS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENSEIGNANT.NOM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENSEIGNANT.NOM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GROUPE.LIBELLE_GROUPE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GROUPE.LIBELLE_GROUPE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NB_HEURE_PREVUE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NB_HEURE_PREVUE)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
