@model ProjetAiopMVC.Models.SalleModels

@{
    ViewBag.Title = "Modifier";
  
}
<div id="container">
    <div class="page-header">
        <div id="alert_1">
            <img src="~/images/class-mod.png" width="100" height="100" alt="User" />
        </div>
        <br />
        <h1>Modification d'une salle</h1>
    </div>
    @using (Html.BeginForm("AjouterCaracteristique", "Salle", FormMethod.Post, new { salleModel = this.Model }))
    {  @Html.ValidationSummary(true)
        <div class="overlay" id="overlay1" style="display: none;"></div>
        <div class="box" id="box1">
            <h3>Veuillez entrer le nom de la nouvelle caractérisation</h3>
            <br />
            <table>
                <tbody>
                    <tr>
                        <td style="width: 40%">Nom</td>
                        <td>
                            @if (Model != null)
                            {
                                @Html.DropDownListFor(model => model.ID_CARACTERISTIQUE_AJOUTE, (SelectList)ViewBag.LISTE_BD_CARACTERISTIQUE, string.Empty)
                                @Html.ValidationMessageFor(model => model.ID_CARACTERISTIQUE_AJOUTE)
                                @Html.HiddenFor(model => model.SALLE.ID_SALLE)
                           
                                Session["liste_cars_temp"] = Model.LISTE_CARACTERISTIQUE_DEFAULT;

                            }
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align: center">
                <input id="boxclose1" type="image" src="~/images/class-plus.png" style="width: 60px; height: 60px" />
                <a id="boxclose12" style="width: 60px; height: 60px">
                    <img src="~/images/class-delete.png" style="width: 85px; height: 85px" alt="Cancel" />
                </a>
            </div>
        </div>
    }
    @using (Html.BeginForm("Modifier_Confirm", "Salle", new { this.Model }))
    { @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SALLE.ID_SALLE)
        <div class="overlay" id="overlay" style="display: none;"></div>
        <div class="box" id="box">
            <h3>Etes-vous sûr de valider les changements effectués ?</h3>
            <br />
            <div style="text-align: center">
                <input id="boxclose" type="image" src="~/images/class-plus.png" style="width: 60px; height: 60px" />
                <a id="boxclose2" style="width: 60px; height: 60px">
                    <img src="~/images/class-delete.png" style="width: 85px; height: 85px" alt="Cancel" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="span5" style="margin-left: 45px; width: 33%">
                    <div class="hero-unit" style="height: 305px">
                        <table style="width: 100%">
                            <tbody>
                                <tr style="height: 15px"></tr>
                                <tr>
                                    <td>
                                        <img src="~/images/armo.png" style="width: 50px; height: 50px" alt="User" /></td>
                                    <td>
                                        <h3>Sélectionner une salle</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <ul style="height: 200px; background-size: 100% 100%; overflow: auto; border: 1px solid #000000; background-color: white">
                                            @{
        int j = 0;
        foreach (var item in ViewBag.LISTE_BD_SALLE)
        {
            j++;
            if (j % 2 == 0)
            {
                                                <li style="margin-left: 5px">@Html.ActionLink((string)item.NUMERO_SALLE, "Modifier", new { ID_SALLE = item.ID_SALLE })</li>
                                         
            }
            else
            {
                                                <li style="margin-left: 5px; background-color: #F0F0F0">@Html.ActionLink((string)item.NUMERO_SALLE, "Modifier", new { ID_SALLE = item.ID_SALLE })</li>
                                      
            }
        }
                                            }
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="span6 offset1">
                    <div class="hero-unit" style="height: 305px">
                        <table style="width: 100%">
                            <tbody>
                                <tr style="height: 50px">
                                    <td>
                                        <img src="~/images/armo3.png" style="width: 50px; height: 50px" alt="User" /></td>
                                    <td>
                                        <h3>Caractéristique de la salle</h3>
                                    </td>
                                </tr>
                                <tr style="width: 70%; height: 35px">
                                    <td>
                                        <h5>
                                            <b>Nom</b>
                                        </h5>
                                    </td>
                                    <td>
                                        @{
        if (Model != null)
        {
                                            @Html.TextBoxFor(model => model.SALLE.NUMERO_SALLE)
        }                                      }

                                    </td>
                                </tr>
                                <tr style="height: 45px">
                                    <td>
                                        <h5>
                                            <b>Batiment</b>
                                        </h5>
                                    </td>
                                    <td>
                                        @{
        if (Model != null)
        {
                                            @Html.DropDownListFor(model => Model.SALLE.ID_BATIMENT, (SelectList)ViewBag.LISTE_BD_BATIMENT, String.Empty)
        }                                         
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>
                                            <b>Caractéristique(s) :</b>
                                        </h5>
                                    </td>
                                    <td>

                                        @{
        if (Model != null)
        {                                    <div style="float: left">
                                                <a id="activator4" class="btn-small btn-inverse">
                                                    <img src="~/images/cara-plus.png" style="width: 20px; height: 20px" alt="User" /></a>
                                            </div>
        }                               }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped">
                            <tbody>
                                @{

        if (Model != null)
        {  List<SelectList> liste_trans = new List<SelectList>();
            liste_trans = Model.SELECTLIST_CARS;
            for (int i = 0; i < liste_trans.Count(); i++)
            { var item = liste_trans.ToList().ElementAt(i);
                                    <tr>
                                        @Html.DropDownListFor(model => Model.LISTE_CARACTERISTIQUE_DEFAULT[i].ID_CARACTERISTIQUE, item)
                                    </tr>   
            }
        }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="span2" id="hero-orga"
                    style="margin-right: 45px; float: right; font-size: large;">
                    <div id="commentWrapper" style="width: 150px">
                        <div id="comment" style="width: 150px">
                            <div class="breadcrumb-orga" style="width: 150px; height: 425px">
                                <div style="text-align: center">
                                    <br />
                                    <br />
                                    <a class="btn btn-inverse btn-large activator2" id="activator" rel="popover"
                                        data-original-title="Visualisation des salles"
                                        data-content="Fenêtre de visualisation des différentes salles référencées"
                                        href="./Detaille">
                                        <img src="~/images/class-vis.png" style="width: 50px; height: 50px" alt="edit-profil" />
                                    </a>
                                    <br />
                                    <br />
                                    <a class="btn btn-inverse btn-large activator2" id="activator2" rel="popover"
                                        data-original-title="Ajouter une salle"
                                        data-content="Fenêtre d'ajout d'une salle"
                                        href="./Ajouter">
                                        <img src="~/images/class-plus.png" style="width: 50px; height: 50px" alt="edit-profil" />
                                    </a>
                                    <br />
                                    <br />
                                    <a class="btn btn-inverse btn-large activator2" href="./Supprimer" id="activator1"
                                        rel="popover" data-original-title="Supprimer la salle"
                                        data-content="Fenêtre de suppression d'une salle">
                                        <img src="~/images/class-delete.png" style="width: 50px; height: 50px" alt="edit-profil" />
                                    </a>
                                    <br />
                                    <br />
                                    <a class="btn btn-primary btn-large activator2" id="activator3" rel="popover"
                                        data-original-title="Confirmer la modification"
                                        data-content="Permet de modifier les caractéristiques de la salle séléctionner">
                                        <img src="~/images/class-mod.png" style="width: 50px; height: 50px" alt="edit-profil" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    }
</div>
